html,body{ -webkit-tap-highlight-color: rgba(0,0,0,0); height: 100%;} 
body {font-family: Microsoft YaHei,Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,  Arial, sans-serif;background: #F5F5F5; width: 100%; font-size: 14px;margin: 0;padding: 0; }
label { font-weight: 400;}
p,div,h1,h2,h3,h4,ul,li,span{margin: 0;padding: 0;}
ul,li{list-style-type: none}
html {height: 100%;box-sizing: border-box;}
*,*:before,*:after {box-sizing: inherit;}
em,i{font-style: normal;}
img{ pointer-events: none; } 
input{ -webkit-appearance: none; }
selector{ cursor: pointer } 
.clearfix{clear: both;}
.gray{color: #999;font-size: 12px}
.noborder{border: none!important;}
.pull-left{float: left;}
.pull-right{float: right;}
.text-right{text-align: right}
.blank{height:5px;clear: both;}
#app {height: 100%; min-height: 100%; width: 100%; }
 .app-pages{height: 100%;  overflow: auto;-webkit-overflow-scrolling: touch;}
 .el-button:focus {background: #338ff6;border-color:#338ff6;}
 .el-button--primary{background: #338ff6;border-color:#338ff6}
 .el-scrollbar   .el-scrollbar__bar {opacity: 1 !important;}
.app-top-bar {background-color: #2189fd;position: fixed;z-index: 10;right: 0;left: 0;height: 44px;padding-right: 10px;padding-left: 10px;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.app-top-bar .titles {position: absolute;right: 40px;left: 40px;display: inline-block;overflow: hidden;width: auto;margin: 0;text-overflow: ellipsis;font-size: 17px;font-weight: 500;line-height: 44px;text-align: center;white-space: nowrap;color: #fff;}
.app-top-bar .icons {font-size: 24px;position: relative;z-index: 20;margin-top: 10px;padding-bottom: 10px; display: inline-block;}
.icon-add{  background: url("~@/assets/image/icon-w5.png") no-repeat; background-size: 100%; width: 20px;height: 20px;}
.icon-back{  background: url("~@/assets/image/icon-w6.png") no-repeat; background-size: 100%; width: 28px;height: 28px;}
.icon-rights{  background: url("~@/assets/image/icon-rights.png") no-repeat; background-size: 100%; width: 8px;height: 16px; display: inline-block; vertical-align: middle;}
.icon-station{ margin-right:15px;  background: url("~@/assets/image/icon-wz.png") no-repeat; background-size: 100%; width: 25px;height: 25px; display: inline-block; vertical-align: middle;}
.icon-msg{  background: url("~@/assets/image/icon-w2.png") no-repeat; background-size: 100%; width: 25px;height: 25px; display: inline-block; vertical-align: middle;}
.icon-logout{  background: url("~@/assets/image/icon-logout.png") no-repeat; background-size: 100%; width: 24px;height: 24px; display: inline-block; vertical-align: middle;}
.msgnum{position: absolute;right: -5px;top:-5px; padding:2px;height: 18px; line-height: 13px;width: 18px; text-align: center; background: #FD3C5A; float: right;border-radius: 100%;font-size:10px;color:#fff}

.app-top-bar~.app-content {padding-top: 44px;}
.app-content-rows {margin: 15px; border-radius: 6px;}

.app-tab{display: flex;justify-content: space-between;margin: 15px;}
.app-tab .item{text-align: center;padding: 10px 0; display: block;}
.app-tab .item span{ background: #fff;color: #1386FF; border-radius: 20px; padding: 6px 15px;font-size: 14px;font-weight: 700;}
.app-tab .item span.active{background: #1386FF;color: #fff; }

/* table css */
.app-table {overflow: hidden;}
.app-table .el-table-column--selection .cell{padding-left: 17px;}
.app-table .el-table__header-wrapper{background: #338FF5;border-radius: 5px 5px 0 0;padding: 0 0;}
.app-table .el-table__header-wrapper tr th{background: #338FF5;color:#fff;border-bottom: none!important;font-size: 14px;font-weight: 400; }
.app-table .el-table th>.cell{padding-right: 0px;}
.app-table .el-table__header-wrapper .is-leaf{border-bottom: none;}
.app-table .el-table__body-wrapper {border: none;}
.app-table .el-table__body-wrapper tr:nth-child(odd){background:#f1f8ff;}
.app-table .el-table__body-wrapper tr td{color: #212227;padding: 8px 0; border: none; }
.app-table .linewrap .cell{white-space: nowrap!important;text-overflow: initial;}
.app-table .nowrap .cell{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.app-table .nowraps .cell{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}

.app-search{margin: 15px;}
.app-search .el-input__inner{border: none; border-radius: 30px;}

/*el-form */
.app-form{background: #fff; margin: 15px; border-radius: 5px; padding:20px 20px 20px 15px;}
.app-form-save{margin-top:40px;overflow: hidden;};
.app-form-save button{width: 140px}
.el-form-custom .el-form-item{margin-bottom: 25px;}
.el-form-custom .el-form-item__label{color: #1d397a;}
.el-form-custom .el-input__inner{border: 1px #9db9fa solid;color: #338ff6!important;}
.el-form-custom .el-form-item__error {padding-top: 5px;}
.el-form-custom .el-textarea__inner{border: 1px #9db9fa solid;color: #338ff6;}
.el-form-custom  .el-input__count .el-input__count-inner{background: none;}
.el-form-custom  input::-webkit-input-placeholder {color: #b9b8b8;}
.el-form-custom  input:-moz-placeholder { color: #b9b8b8;}
.el-form-custom  input::-moz-placeholder { color: #b9b8b8;}
.el-form-custom  input:-ms-input-placeholder { color: #b9b8b8;}
.el-form-custom  .el-input-group__append, .el-form-custom  .el-input-group__prepend{border: 1px #9db9fa solid;border-left: none; color: #338ff6;}
.el-form-custom .line {text-align: center; color: #999;}
.el-form-custom .el-select{width: 100%;}
.el-form-custom .el-cascader{width: 100%;}
.el-form-custom .el-form-item__label {padding: 0 ;}
.el-form-custom .el-form-item.is-error .el-input__inner{border-color: #9db9fa;}
.el-form-custom .el-textarea.is-disabled .el-textarea__inner {background-color: #F5F7FA;border-color: #9db9fa;color: #338ff6;cursor: not-allowed;}
.el-form-custom .el-radio__inner{border-radius: 0;border: 1px #9db9fa solid;}
.el-form-custom  .el-radio__inner::after{border-radius:0;-webkit-box-sizing: content-box;box-sizing: content-box; content: "";border: 1px solid #FFF;border-left: 0;border-top: 0;height: 7px;left: 4px;position: absolute;top: 1px; background: none;transform-origin: center;}
.el-form-custom  .el-radio__input.is-checked .el-radio__inner::after {-webkit-transform: rotate(45deg) scaleY(1);transform: rotate(45deg) scaleY(1);}
.el-form-custom .el-checkbox__inner{border: 1px #9db9fa solid;}
.el-form-custom .el-date-editor.el-input{width: 100%;}
.el-form-custom .el-input-group__append{padding:0 8px}
.el-checks .el-form-item--medium .el-form-item__content{line-height: 24px;}
.el-checks .el-checkbox-group{ margin-top:7px}

.app-dis-radio .el-radio__input.is-disabled .el-radio__inner{border-color: #9db9fa;}
.app-dis-radio  .el-radio__input.is-disabled .el-radio__inner::after {background:none;border-color: #338ff6;}
.app-dis-radio  .el-radio__input.is-disabled + span.el-radio__label {color: #333;}
.app-dis-checkbox .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {border-color: #338ff6;}
.app-dis-checkbox .el-checkbox__input.is-disabled .el-checkbox__inner {background-color: #edf2fc;border-color: #9db9fa;}
.app-dis-checkbox .el-checkbox__input.is-disabled + span.el-checkbox__label {color: #333;}
.el-contents { min-height: 36px; white-space: normal;word-break: break-all;line-height: 1.5;color: #338ff6;background-color: #f5f7fa;border: 1px solid #e4e7ed;padding: 5px 15px;cursor: not-allowed;border-radius: 4px;}

/*pagination */
.app-pagers{text-align: center;padding:15px 0; overflow: hidden; background: #fff; }
.app-pagination{text-align: center;padding:15px 0; overflow: hidden; background: #fff; }
.app-pagination .el-pagination {border-radius: 4px;overflow: hidden; display: inline-block;padding: 0; }
/* dialog */
.el-dialog{border-radius: 6px;}
.el-dialog__header{border-radius:6px 6px 0 0; background: #4093ED;text-align: center;padding:7px 12px;}
.el-dialog__title{color: #fff;font-size: 16px;}
.el-dialog__headerbtn{top:14px; right:14px; background: #4093ED;border-radius: 100%;height: 22px;width: 22px;padding: 2px;color:#fff;}
.el-dialog__headerbtn .el-dialog__close {color: #fff;font-weight: 700;}
.el-dialog__headerbtn:hover{background: #fff;color:#4093ED!important }
.el-dialog__headerbtn:hover .el-dialog__close {color: #4093ED;}
.el-dialog .el-dialog__body{padding: 20px 25px 10px 5px;}
.el-dialog .el-dialog__footer{padding: 0 5px 10px 5px;}
.el-dialog .el-button--medium {padding: 9px 0px; min-width: 90px; margin: 0 15px; margin-bottom: 20px;}

.app-cascader{left:80px!important;}
.app-cascader  .el-cascader-menu{min-width: 150px;}
.app-cascader  .el-cascader-menu__list{overflow: hidden;}
.app-cascader .el-cascader-menu__list li{max-width: 150px; overflow: hidden; padding-right: 0!important;}
.el-picker-panel{left: 25px!important;}
.el-message-box {margin: 30px; width: 80%;}

.app-nodata{text-align: center;line-height: 60px; color: #909399; margin: 20px;}

.app-nodatas{ background: #fff; text-align: center;line-height: 60px; color: #909399; border-radius: 5px;}

